html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity:0.9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  margin: 0px;
}

.flex-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

header img {
  height: 50px;
  padding-left: 10px;
  opacity: 0.9;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header nav {
  position: absolute;
  right: 10px;
}

a {
  color: seashell;
  opacity: 0.9;
}

.main-content {
  width: 1200px;
  padding-top: 69px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}


#mission {
  height: 700px;
  background-image: url("./../images/mission-background.jpg");
  background-size: cover;
  width: 1200px;
  margin-bottom: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.words {
  background-color: black;
  text-align: center;
  opacity:0.9;
}

#featured {
  width: 1000px
  height:700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.tile {
  width: 300px;
  display: block;
  margin: 10px;
}

.tile img {
  height: 200px;
  margin: 10px;
  display: block;
}

.tile span {
  display: flex;
  padding: 5px;
  justify-content: center;
}

h2 {
  padding: 10px;
  display: block;
  margin: 0px;
}

h5 {
  margin: 0px;
  padding: 10px 0px;
}

#location {
  height: 500px;
  background-image: url("./../images/locations-background.jpg");
  background-size: cover;
  width: 1200px;
  margin-bottom: 40px;
  justify-content: space-around;
  display: block;
  align-items: center;
  padding-top: 70px;
}

.location {
  height: 300px;
  width: 300px;
  background-color: black;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-section.locations {
  width: 1200px;
  flex-direction: row;
  align-content: center;
  margin-top: 15px;
}

.contact {
  height: 200px;
  display: block;
}

.footer {
  text-align: left;
  padding-left: 20px;
}
