html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity:0.9;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.flex-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header img {
  display: inline-flex;
  height: 50px;
  padding-left: 10px;
  opacity: 0.9;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header nav {
  position: absolute;
  right: 10px;
}

a {
  color: seashell;
  opacity: 0.9;
}

.main-content {
  display: flex;
  width: 1200px;
  padding-top: 69px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}


#mission {
  height: 700px;
  background-image: url("resources/images/mission-background.jpg");
  width: 1200px;
  padding-bottom: 40px;
  justify-content: center;
}

#mission .words {
  background-color: black;
  text-align: center;
}

#featured {
  width: 1000px
  height:700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  display: inline-flex;
  justify-content: space-around;

}

.tile img {
  height: 200px;
  margin: 10px;
  display: block;
}

.tile span {
  display: block;
  padding: 5px;
}
